<a href="https://colab.research.google.com/github/yeonnex/Colab/blob/main/%5Bpy_01_yeon%5D%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 강사님 방법
# '의도부터 짠다'
# 인풋 아웃풋 -> 함수부터 만든다.

def isLeapYear(year):
  # pass
  if year % 400 == 0:
    return False
  if year % 100 == 0:
    return False
  if year % 4 == 0:
    return True
  
  return False
# 시프트 알트 방향키아래 = 커서 한줄 복사
def printLeapYear(year):
  print(isLeapYear(year)) 

printLeapYear(2004) # 이걸 먼저 생각한다. 나는 이런 기능이 되었으면 좋겠어! 이렇게 하면 편하게, 스트레스 안받고 짤 수 있음
printLeapYear(2008)

print(isLeapYear(2008)) 
print(isLeapYear(2100)) 
print(isLeapYear(2000))

# 프린트나, 로그 기록도 함수로 나눠주는 것이 좋다. 함수에 출력문이 같이 들어있다면
# 따로 출력하는 함수를 만들어주는 게 좋다.

# 강사님은 함수부터 생각해서 역으로 짠다.
# 설계를 바꾸는 것 = 리팩토링

True
True
True
False
False

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

## 윤년구하기

- 4로 나누어 떨어지는 해는 윤년
- 100으로 나누어 떨어지는 해는 평년
- 400로 나누어 떨어지는 해는 윤년

In [ ]:
year = int(input())
if ((year%4 == 0) and (year%4 == 0 and year%100 != 0)) or (year%4==0 and year%100==0 and year%400==0):
  print('윤년입니다.')

2020
윤년입니다.

## **윤년구하기**

## 딕셔너리

## 클래스

In [ ]:
x = 1 
print(type(x))

In [ ]:
def hello():
  print('hello')
  
print(type(hello)) # 함수도 클래스가 있음. 파이썬은 모든게 클래스. 객체지향언어

In [ ]:
x = 1
y = 'hello'

print(x+y) # 실행시키기 전에 먼저 예상, 추측해본다음 실행시켜야 학습효과 UP!

# CPU가 타입변환을 해서 연산하기 때문에, 타입 연산에 주의하자.

In [ ]:
st = "hello"
print(st.upper())

In [ ]:
x = 1
print(x.upper())

In [ ]:
## 강사님의 클래스 만들기
class Dog:
  def moong(): # 클래스 안의 메서드(인스턴스 메서드)들은 self를 써주어야 한다!
    print('멍!')
d = Dog() # 나는 개라는 걸 d에 넣고 싶어! 함수나 클래스로 만들기
print(type(d))
d.moong()

<class '__main__.Dog'>

TypeError: ignored

__ main  __ 은 모듈명이다

In [ ]:

class Dog:
  def moong(self): 
    print('멍!')
  def add_one(self, num):
    return (num+1)

d = Dog() 
print(type(d))
d.moong()
print(d.add_one(5))

<class '__main__.Dog'>
멍!
6

In [ ]:
class Dog:
  def __init__(self):
    pass
  def moong(self): 
    print('멍!')
  def add_one(self, num):
    return (num+1)

d = Dog('해피')

## 초기화

In [ ]:
class Dog:
  def __init__(self,name):
    # name 보관
    # 왼쪽의 name과 오른 name은 다른 것임 왼쪽은 보관하는 곳! 이 객체가 살아있는 한 계속 사용가능
    self.name = name
  def moong(self): 
    print('멍!')
  def add_one(self, num):
    return (num+1)

d = Dog('해피')

In [ ]:
class Dog:
  def __init__(self,name):
    # name 보관
    # 왼쪽의 name과 오른 name은 다른 것임 왼쪽은 보관하는 곳! 이 객체가 살아있는 한 계속 사용가능
    self.__name = name # 이 속성은 외부에서 접근불가 (히든속성)

  def get_name(self): # 메서드를 통해 접근하는 것을 권장
    return self.__name

d = Dog('해피')
print(d.__name) # 속성을 바로 접근하는 것은 권장하지 않음

In [ ]:

class Dog:
  def __init__(self,name,age):
    self.name = name 
    self.age = age # 나이도 보관!

  # 값을 보관하고 싶다면, self를 사용!
  
  def get_name(self): # 메서드를 통해 접근하는 것을 권장
    return self.name
  def get_age(self):
    return self.age
  def set_age(self,age):
    self.age = age # 기존에 보관하고 있는 곳(self.age)에 덮어쓰기!

d = Dog('해피', 30) # 초기화

print(d.get_name()) # 해피
print(d.get_age()) # 30
d.set_age(22)
print(d.get_age()) # 22

## 클래스 간의 상호작용

In [ ]:
class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade
  def get_grade(self):
    return self.grade

class Course:
  def __init__(self, name, max_student):
    self.name = name
    self.max_student = max_student # 보관
    self.students = [] # 학생들 보관
  def add_student(self, student):
    if len(self.students) < self.max_student:
      self.students.append([student.name, student.age, student.grade]) # 학생 추가
      return True
    return False
  def get_average_grade(self):
      score = 0
      
      for i in self.students:
        score += i[2]
      return score / 2
      

s1 = Student('아이언맨', 19, 95)
s2 = Student('스파이더맨', 19, 75)
s3 = Student('헐크', 19, 85)

course = Course('과학', 2)
course.add_student(s1)
course.add_student(s2)
# print(course.students)
course.get_average_grade()

## 자료형
변수 : 변할 수 있는 수

In [ ]:
# 숫자
x = 1

# 문자열
stirng = 'hello'

# 리스트 - mutable
lst = [1,2,3,4,5]

# 튜플 - Immutable
tup = (1,2,3,4,5)

# 딕셔너리 
# 여러개의 if문 대신, value에 함수를 넣는 것도 코드를 깔끔하게 만든다.
dic = {'name':'홍길동', '나이': 21}

# 집합 - 중복요소 제거할 때 잠시 씀. 자주 쓰지는 않음
s = set([1,2,3,3])
print(s)

# Boolean
t = True
f = False

# 문자열
st = 'pythons\n!' # 리스트 함수 쓸 수 있음
print(st)
print(st[2:5])
print(st[::-1])

s = '20210316rainy'
year = s[0:4]
month = s[4:6]
day = s[5:7]
weather = s[8:]

print(year, month, day, weather)

In [ ]:
a = 100
b = 200
sum = a + b
print("{}와 {}의 합은 {}입니다".format(a,b,sum))
print("%d와 %d의 합은 %d입니다."%(a,b,sum))

## 연산자

In [ ]:
# 산술연산자
n1 = 10
n2 = 7

print(n1 / n2)
print(n1 % n2)
print(n1 // n2)

# 같은 문제를 다양한 방법으로 풀면 깊이있게 공부할 수 있음
# 여러문제 x

In [ ]:
nn = 456
# nn = str(nn)
str(nn)
print(nn[0],0,0, sep="")



```
# 코드로 형식 지정됨
```
str함수가 작동이 좀 이상하게 되는 것 같음... 그 이유는 위에서 str이라는 변수를 사용했기 때문임. 변수명 바꾸거나, str 재정의!

In [ ]:
nn = 456
print(nn//100 *100)

In [ ]:
sec = 3723
hour = sec / 3600 # 3600초(1시간)로 나눔
res = sec % 3600

minute = res / 60
sec = res % 60


print('%d 시간 %d분 %d 초'%(hour, minute, sec))

1 시간 2분 3 초

In [ ]:
hour = 11
over_time = hour % 8

def getMoney(hour, cpay):
  money = 0
  for i in range(hour):
    if i < 8:
      money += cpay
    else:
      money += cpay*1.5
  return money

money = getMoney(11, 5000)
print(money)

62500.0

## 리스트

In [ ]:
lst1 = []
lst2 = [1,2,3]
lst3 = [1, 'hello']
lst4 = [1, 'hello', [3,4,5]]

print(len(lst4))

3

In [ ]:
array = [2,5,7,9,10]
print(array[0] + array[1])

7

In [ ]:
array[0] = 100 # 리스트는 값의 변경 가능! 튜플은 불가능
print(array)

[100, 5, 7, 9, 10]

In [ ]:
# 리스트 복사
a = [1,2,3]
b = a
print(a is b)

# a와 b가 같은 것을 가리킴
print(id(a), id(b)) # 139663493597216 139663493597216

b = a[:] # 값 복사. 메모리에 새로생김
print(a is b) # a와 b가 다르다고 나옴. a의 값이 복사되어 b로 들어감

True
139663493016224 139663493016224
False

In [ ]:
array = [1,2,3,4,5]
print(array.index(4)) # 위치를 가지고 오고 싶을 때 index()함수

3

In [ ]:
# array.insert(2, 'y')
print(array)
array.pop() # 스택에서의 pop
# array.remove(1)
print(array)

[2, 3, 'y', 'y', 'y']
[2, 3, 'y', 'y']

In [ ]:
a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 정렬
a = [3,4,2,1]
sorted_a = sorted(a)

print(sorted_a)
# 사실 될 수 있으면 원본은 바꾸지 않는 것이 좋음. 복사해서 쓰는 것이 좋음.
a.sort()
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
lst = [ i*10 for i in range(5)]
lst # 주피터 노트북에서는 print 안써줘도 이렇게 해줘도 출력됨

[0, 10, 20, 30, 40]

In [ ]:
array = [1,2,3,4,5]
array[-1] = 7
array[1] = ['a', 'b', 'c']

array.remove(4)
array.remove(7)
array.append('d')
array.append('e')
array.append('f')
array.append('g')
array[3:] = ['d','e', 'f']
print(array)

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f']

In [ ]:
array = [1,2,3,4,5]
array[-1] = 7
array[1] = ['a', 'b', 'c']

# 이 방법으로 여러 항목들을 리스트에 한번에 추가할 수 있다.
array[3:] = ['d', 'e', 'f', 'g']
print(array)

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

## 튜플

In [ ]:
# 문자열 자체가 리스트!

if 'x' in 'xyz': # 문자열
  print('true')

if 'x' in ('x,y,z'): # 튜플
  print('true')
if 'x' in ['x,y,z']: # 리스트
  print('true')

true
true

## 딕셔너리

In [ ]:
dict1 = {'name': 'kim', 'age': 31, 'grade': 3}
print(dict1['grade'])
print(dict1.keys())
print(dict1.values())
print(dict1.items()) # 키와 값 쌍을 튜플로 반환

for x,y in dict1.items():
  print(x,y)

3
dict_keys(['name', 'age', 'grade'])
dict_values(['kim', 31, 3])
dict_items([('name', 'kim'), ('age', 31), ('grade', 3)])
name kim
age 31
grade 3

In [ ]:
# 위에서, str 함수를 변수처럼 사용해서 재정의함.. str 함수를 재정의함... 그래서 그 뒤에 str함수를 사용할 때 문제가 있었음
# str = 'hello'
# 위 코드가 str함수를 hello라는 문자열로 재정의 해버린 것이다.

# 딕셔너리 사용시 주의점
# 인덱스가 있는지 없는지!

dict1 = {}
for i in [1,2,3,3,4,4]:
  if i in dict1:
    dict1[i] += 1
  else:
    dict1[i] = 1
print(dict1)
# 값이 몇 개 들어있는지 확인하는 프로그램. 많이 쓰는 로직임!

{1: 1, 2: 1, 3: 2, 4: 2}

## 집합

In [ ]:
s1 = set([1,2,2,3,4,4])
print(s1)

{1, 2, 3, 4}

In [ ]:
while True:
  num = int(input())
  if num >= 11:
    cost = (10000*num)*0.9
    print(cost, '원을 지불하세요')
  else:
    cost = 10000*num
    print(cost, '원을 지불하세요')